@charset "utf-8";
/* CSS Document */
/* Nav */
		
		.nav-bar {
			width:100%; 
			height:55px;
			background:url(../images/bg_nav_bar.gif) repeat-x;
		}
		.nav{ 
			width:950px;
			height:55px;
			margin:0 auto;
		}
		.nav li{ 
			display:block;
			float:left;
			position:relative;
		}
		
		.nav li a{ 
			width:114px; 
			display:block; 
			height:55px;
			/* total height 55px*/
			position:relative;
			/*background-image:url(../image/nav.png); 
			background-repeat:no-repeat;*/
		}
		.nav li a img{
			display:block;
			position:absolute;
			top:2px;
		}
		.nav li a.nav01{/*background-position:0 0;*/}
		.nav li a.nav02{/*background-position:-114px 0;*/}
		.nav li a.nav03{/*background-position:-228px 0;*/} 
		.nav li a.nav04{/*background-position:-342px 0;*/}
		.nav li a.nav05{/*background-position:-456px 0;*/}
		.nav li a.nav06{/*background-position:-570px 0;*/}
		.nav li a.nav07{ width:133px; /*background-position:-684px 0;*/}
		.nav li a.nav08{ width:133px; /*background-position:-817px 0;*/}
		.nav li a.nav09, 
		.nav li a.nav09:hover , 
		.nav li a.nav10, 
		.nav li a.nav10:hover{ display:none;}
		
		.nav li a.nav01:hover{/*background-position:0 -59px;*/}
		.nav li a.nav02:hover{/*background-position:-114px -59px;*/}
		.nav li a.nav03:hover{/*background-position:-228px -59px;*/}
		.nav li a.nav04:hover{/*background-position:-342px -59px;*/}
		.nav li a.nav05:hover{/*background-position:-456px -59px;*/}
		.nav li a.nav06:hover{/*background-position:-570px -59px;*/}
		.nav li a.nav07:hover{/*background-position:-684px -59px;*/}
		.nav li a.nav08:hover{/*background-position:-817px -59px;*/}
		
		.nav li a.nav01 img{ left:0;}
		.nav li a.nav02 img{ left:6px;}
		.nav li a.nav03 img{ left:12px;} 
		.nav li a.nav04 img{ left:17px;}
		.nav li a.nav05 img{ left:22px;}
		.nav li a.nav06 img{ left:29px;}
		.nav li a.nav07 img{ left:13px;}
		.nav li a.nav08 img{ left:19px;}
		
		.nav li ul {
			position: absolute;
			z-index:100;
			left: -9999px;
		}
		.nav > li.hover > ul {
			left: 0;
		}

		.nav li li.hover ul {
			left: 100%;
			top: 0;
		}
		.nav li li {
			width: 113px;
			display:block;
			text-align: left;
			padding:0 5px;
			float:none;
		}
		.nav .submenu{
			-webkit-border-bottom-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-bottomright: 10px;
			-moz-border-radius-bottomleft: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			background:#558c15;
			padding: 0 10px 10px 10px;
		}
		.nav .submenu li{
			border-bottom: #e4fec5 1px dashed;
			padding: 5px 0;
		}
		.nav .submenu li.mobileSubmenu{
			display:none;
		}
		.nav .submenu a{
			display: block;
			padding: 5px 5px 5px 25px;
			color: #fff;
			background: url(../images/arrow01_1.png) 10px 10px no-repeat;
			width:100%;
			height:auto;
			
		}
		.nav .submenu a:hover{ 
			background-color: #fff; 
			color: #558c15; 
			background-image: url(../images/arrow01_1.png); 
			background-position:10px 2px;
		}
		.nav li li li a {
			background:#249578;
			z-index:200;
			border-top: 1px solid #1d7a62;
		}

