@layout('layout/main')
@section('content')
<div class="container">
    <iframe src="http://docs.google.com/gview?url=http://jasonspace.cf:3333/forpeter/trackingcode/Adword.pptx&embedded=true" width='100%' height='800' frameborder="0"></iframe>
</div>
@endsection
