html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, fieldset, form, label, legend, input, button, table, caption, tbody, tfoot, thead, tr, th, td, textarea {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}


ol, ul, ul li, ol li {
    list-style: none outside none;}
a {
    cursor: pointer;
    outline: medium none;
    text-decoration: none;
}
a:visited {
    color: #5d4370;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

div.top-menu {
    margin-bottom: 0; }

/*div.top_menu {
    margin-right: 60px;
}*/

div.top_menu {
    position: relative;
    z-index: 3;
    /*top: 20px;*/
}

.clear-fix {
    display: block;
}

div.top_menu ul {
    float: right;
}

div.top_menu li {
    /*float: right;*/
    padding: 0 8px;
    border-right: 1px solid #CCC;
    height: 18px;
    margin-bottom: 16px;
}

div.top_menu li:last-child,
div.top_menu li.first {
    border-right: none;
}

div.top_menu li.sethomepage a {
    background: url("../images/ui-icons_222222.png") no-repeat scroll 0 -112px #eee;
    border: solid 1px #CCC;
    display: block;
    height: 16px;
    padding: 0;
    text-indent: -9999px;
    width: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

div.top_menu li a.tellme {
    background: url("../images/edit.png") no-repeat scroll 10px 4px #DA251D;
    padding: 0 6px 2px 31px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

div.top_menu li a {
    color: #fff;
    font-family: "Microsoft JhengHei", "Arial", "PMingLiU", "sans-serif";
}



@media screen and (min-width: 1366px) {
    div.top_menu li {
        padding: 0 10px;
    }
    /*div.top_menu ul {position: relative;left: 7%;}*/
}

@media screen and (max-width: 1024px) {
    div.top_menu {
        display: none;
        }
}


@media screen and (max-width: 767px) {
    .stake {
        width: 100%;
    }
}


/*----------------新選單start------------------------*/
div#ui-datepicker-div {
    font-size: 12px;
    line-height: 1.5;
}
#ui-datepicker-div div.ui-datepicker-title select.ui-datepicker-month {
    margin-right: 2%;
    padding: 0;
    background-color: #fff;
}
#ui-datepicker-div div.ui-datepicker-title select.ui-datepicker-year {
    padding: 0;
    background-color: #fff;
}
div#ui-datepicker-div div.ui-datepicker-title select.ui-datepicker-month:hover, div#ui-datepicker-div div.ui-datepicker-title select.ui-datepicker-year:hover {
    border: 1px solid;
}

input#datepicker {
    display: none;
}

header .today_date {
    height: 71px;
    /*position: absolute;
    right: 25%;
    top: 20px;*/
    width: 54px;
}
header .today_date .date {
    background: url("../images/ico_cti.png") no-repeat scroll 0 -4px transparent;
    height: 73px;
    margin-top: 3px;
    width: 56px;
    position: relative;
}
header .today_date .date .calendar {
    width: 56px;
    height: 67px;
    top: 0;
    left: 0;
    position: absolute;
}
header .today_date .calendar>span {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    width: 56px;
    display: block;
}
header .today_date .calendar>img {
    width: 56px;
    height: 73px;
    cursor: pointer;
}
header .today_date .date #today_box {
    border-top: 6px solid #0060bf;/*red*/
    padding-top: 3px;
    text-align: center;
}
header .today_date .date .sbox {
    background: url("../images/ico_sprite.png") no-repeat scroll -381px -110px transparent;
    width: 50px;
    margin: 0 auto;
    height: 16px;
}
header .today_date .date span.icon {
    background: url("../images/ui-icons_222222.png") no-repeat scroll -64px -16px transparent;
    display: block;
    height: 16px;
    margin: 0 auto;
    width: 16px;
}
header .today_date .date #today_box span.month {
    color: #7D7D7D;
    display: block;
    font-size: 13px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 1px;
}
header .today_date .date #today_box span.day {
    color: #333;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.15;
    padding-bottom: 1px;
    display: block;
}
header .today_date .fast_menu {
    margin: 8px 0 0 -10px;
    padding: 5px;
    width: 56px;
}
header .today_date .fast_menu p {
    text-align: center;
    margin: 5px 0 0;
    font-size: 13px;
    line-height: 1.7;
    width: 56px;
    padding: 10px 5px;
    background-color: #999;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-left-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    behavior: url(../PIE.htc);
}
header .today_date .fast_menu .fm_box {
    overflow: hidden;
    width: 66px;
}
header .today_date .fast_menu .fm_box .menu_list {
    background-color: #999;
    margin-top: 0px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    behavior: url(../PIE.htc);
    display: none;
}
header .today_date .fast_menu .fm_box .menu_list li {
    border-top: 1px solid #999;
    padding: 8px 5px;
    text-align: center;
    width: 56px;
    background-color: #DDD;
}
header .today_date .fast_menu .fm_box .menu_list li:hover {
    background-color: #FFF;
}
header .today_date .fast_menu .fm_box .menu_list li:first-child, header .today_date .fast_menu .fm_box .menu_list li.first {
    border-top: 0px solid #999;
}
header .today_date .fast_menu .switcher {
    background: url("../images/ico_cti.png") no-repeat scroll -65px 0 transparent;
    display: block;
    margin-left: 2px;
    width: 64px;
}
header .today_date .fast_menu .switcher span {
    background: url("../images/ico_cti.png") no-repeat scroll 26px -77px transparent;
    display: block;
    text-indent: -9999em;
}
header .today_date .fast_menu .menu_list.expanded .switcher {
    background: url("../images/ico_cti.png") no-repeat scroll -132px 0 transparent;
}
header .today_date .fast_menu .menu_list.expanded .switcher span {
    background: url("../images/ico_cti.png") no-repeat scroll -19px -98px transparent;
    display: block;
    text-indent: -9999em;
}

@media screen and (max-width: 1024px) {
    header .today_date {
        display: none;
    }
}
/*-social_idxbox-ctfooter-*/
.stack {
    width: 980px;
    margin: 0 auto;
    background-color: #FFF;
}

/*
.category header {
    border-color: #dd3333;
    border-top-width: 6px;
    border-top-style: solid;
}
*/
.category header h1 {
    padding: 15px 0;
}
.category article {
    padding-bottom: 2%;
    border-color: #d9d9d9;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 60px;
}

/*--------------------------rwd-----------------------------*/


.rwdfootermenu {
    display: none;
}
@media screen and (max-width: 1024px) {
.rwdfootermenu {
    display: block;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #000;
    padding: 0 0 12px;
}
.rwdfootermenu .searchfooter {
    background-color: #000;
    color: #e6e6e6;
    line-height: 1;
    min-height: 40px;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.rwdfootermenu .new-box {
    margin: 0 auto;
    width: 95%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    -ms-border-radius: 9px;
    border-radius: 9px;
    behavior: url(../PIE.htc);
    background-color: #262626;
}
.rwdfootermenu ul.clum_left {
    width: 48%;
    float: left;
    padding: 12px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.rwdfootermenu ul.clum_right {
    width: 48%;
    float: right;
    padding: 12px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.rwdfootermenu li a {
    border-top: 1px solid #000;
    color: #fefefe;
    display: block;
    padding: 10px 0;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font: bold 21px/2.2 "微软雅黑", "黑体", "helvetica neue", "lucida grande", "Arial", "PMingLiU", "Trebuchet MS", "Helvetica", "Verdana", "sans-serif";
}
.rwdfootermenu li.first a {
    border-top: 0 solid #000;
}
.rwdfootermenu li a:hover {
    color: #c00;
    text-decoration: none;
}
.rwdfootermenu .searchfooter .searchfooterform {
    display: block;
    height: 53px;
    position: relative;
}
.rwdfootermenu .searchfooter .searchinputtext {
    background-color: #262626;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1;
    min-height: 40px;
    padding: 12px 45px 12px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    -ms-border-radius: 9px;
    border-radius: 9px;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.3) inset;
    behavior: url(../PIE.htc);
    font: 21px/1.2 "微软雅黑", "黑体", "helvetica neue", "lucida grande", "Arial", "PMingLiU", "Trebuchet MS", "Helvetica", "Verdana", "sans-serif";
    font-size: 125%;
}
.rwdfootermenu .searchfooter .searchinputbutton, .rwdfootermenu .searchfooter .search-inputtext {
    border: medium none;
    outline: 0 none;
    position: relative;
}
.rwdfootermenu .searchfooter .searchinputbutton {
    background-color: #262626;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    right: 7px;
    background: url("../images/ico_cti.png") no-repeat scroll -33px -111px transparent;
    display: block;
    height: 40px;
    text-indent: -9999px;
    width: 40px;
    cursor: pointer;
    top: 0;
}