* { padding: 0; margin: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

/*清除 clearfix*/
.clearfix:after{ clear:both; display:block; height:0px; content:"."; visibility: hidden;}
.clearfix {*zoom: 1; _zoom: 1;}

/*更多*/
.et_more_box{ clear:both; height:30px; margin:0px 5px 5px 0px;}
a.et_more{}
.et_more_box a.et_more{ clear:both; float:right;}
a.et_more:link, a.et_more:visited{ color:#003399; text-decoration:none;}

/* 影音圖集 .etvideo_collect_1===================*/
/*外掛歸零====*/
.etvideo_collect_1 .bx-wrapper{ margin:0 auto;}
.etvideo_collect_1 .bx-wrapper .bx-viewport{ border:none; box-shadow:none; left:0px;}
.bx-wrapper .bx-viewport{ border:none;}
/*樣式=========*/
.etvideo_collect_1{ max-width:769px; min-height:50px; height:0px; border-top:5px solid #fff; border-bottom:5px solid #fff; margin:0px auto; position:relative; overflow:hidden; 
-webkit-tap-highlight-color:transparent; outline:0;/*去除連結的藍底*/}
/*CSS:先隱藏圖片，JS:圖集load之後再show(修正會閃圖:先看到第一張圖再看到random的圖)*/
.etvideo_collect_1 img{ display:none; width:100%; height:auto;}
/*左右箭頭*/
.etvideo_collect_1 .bx-wrapper .bx-prev{ background-size: 96px 63px; background-image:url(../images/et_arrow.png);}
.etvideo_collect_1 .bx-wrapper .bx-next{ background-size: 96px 63px; background-image:url(../images/et_arrow.png);}

/*修改左右露出=====*/
.etvideo_collect_1 .run .inner{ position:absolute; left:75%; transform:translateX(-75%);}


/*熱門影音 .etvideo_collect_2==========*/
.etvideo_collect_2{ clear:both; background:#fff; margin-bottom:15px;}
.etvideo_collect_2 > h2.title{ background-color:#ea4e16; font-size:18px; font-weight:normal; color:#FFF; padding:3px 5px; margin-bottom:5px;}
.etvideo_collect_2 > h2.title a.et_more{ float: right;}
.etvideo_collect_2 > h2.title a.et_more:link, .etvideo_collect_2 > h2.title a.et_more:visited{ color:#fff;}
/*內容*/
.etvideo_collect_2 .content{ clear:both;}
.etvideo_collect_2 .content a.piece{ display:block; padding:10px 5px;}
.etvideo_collect_2 .content a.piece:not(:last-of-type){ border-bottom:1px solid #ccc;}
.etvideo_collect_2 .content a.piece .pic{ width:140px; height:79px; background:#000; text-align:center; float:left; margin-right:10px; position:relative;}
.etvideo_collect_2 .content a.piece .pic::after{ display:block; width:30px; height:30px; content:""; background:url(../fonts/media-play_2.svg) no-repeat; background-size: 30px auto; opacity:0.4; position:absolute; top:0px; right:0px; bottom:0px; left:0px; margin:auto;/*置中*/}
.etvideo_collect_2 .content a.piece .pic img{ display:inline-block; width:auto; height:100%;}
.etvideo_collect_2 .content a.piece h3.headline{ display:table-cell; height:79px; font-size:18px; font-weight:normal; vertical-align:middle;/*垂直置中*/ overflow:hidden;}
/*連結狀態*/
.etvideo_collect_2 .content a:link h3.headline, .etvideo_collect_2 .content a:visited h3.headline{ color:#333; text-decoration:none;}

/*圖文原生廣告 .ad_pictxt_1 =====*/
.etvideo_collect_2 .ad_pictxt_1{ height:99px; padding:10px 5px; border-bottom:1px solid #ccc; background:#FFF!important;}
.etvideo_collect_2 .ad_pictxt_1 a.pic{ display:block; width:140px; height:79px; background:#000; text-align:center; float:left; margin-right:10px; position:relative;}
.etvideo_collect_2 .ad_pictxt_1 a.pic::after{ display:block; width:40px; height:28px; content:""; background:url(../fonts/media-play_2.svg) no-repeat; background-size: 30px auto; opacity:0.4; position:absolute; top:0px; right:0px; bottom:0px; left:0px; margin:auto;/*置中*/}
.etvideo_collect_2 .ad_pictxt_1 a.pic img{ display:inline-block; width:auto; height:100%;}
.etvideo_collect_2 .ad_pictxt_1 h3{ display:table-cell; height:79px; font-size:18px; font-weight:normal; vertical-align:middle;/*垂直置中*/ overflow:hidden;}
.etvideo_collect_2 .ad_pictxt_1 span.date{ display:none;}
.etvideo_collect_2 .ad_pictxt_1 span.tag{ display:none;}
/*連結狀態*/
.etvideo_collect_2 .ad_pictxt_1 h3 a:link, .etvideo_collect_2 .ad_pictxt_1 h3 a:visited{ color:#333; text-decoration:none;}

